nav{
    display: flex;
}
.logo{
    margin-left: 30px;
}
ul li{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}
ul{
    margin-right: auto;
    margin-left: auto;
}
.number{
    margin-right: 50px;
    color: firebrick;
}
*{
    margin-top: 3px;
    padding: 0px;
}
li:hover{
    color: #d70303;
}
.landing{
    position: relative;
    height: 550px;
    width: 100%;
    background-image: black;
    background-image: url(pic01.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slide;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0%{
      background-image: url(pic02.JPG);
    }
    20%{
        background-image: url(pic03.JPG);
    }
    40%{
        background-image: url(pic04.JPG);
    }
    60%{
        background-image: url(pic05.JPG);
    }
}
.stroke1{
    position: absolute;
    left: 430px;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.335);
    width: 500px;
    height: 8px;
    box-shadow: 0px 2px 2px 1px white;
}
.landingtxt{
    font-size: 50px;
    letter-spacing: 10px;
    color: white;
    position: absolute;
    left: 300px;
    top: 180px;
}
.stroke2{
    position: absolute;
    left: 430px;
    top: 300px;
    background-color: rgba(0, 0, 0, 0.335);
    width: 500px;
    height: 8px;
    box-shadow: 0px 2px 2px 1px white;
}
.landingtxt:hover{
    color: #7c0606;
}
button{
    width: 250px;
    height: 30px;
    background-color: firebrick;
    color: white;
    border: none;
    position: absolute;
    left: 560px;
    top: 350px;
}
button:hover{
    background-color: #d70303;
    color: black;
}
.second{
    position: relative;
    height:600px;
    width: 100%;
    margin-bottom: 50px;
}
.txt1{
    position: absolute;
    left: 70px;
    top: 70px;
    height: 500px;
    width: 500px;
}
.pic07{
    position: absolute;
    right: 0px;
    top: 20px;
    height: 545px;
    width: 600px;
}
.note{
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 0;
    font-family: serif ;
}
.visit{
    left: 0px;
    width: 180px;
    top: 315px;
}
.separator{
    display: flex;
}
.one{
    height: 40px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.352);
}
.two{
    height: 40px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.352);
}
.container{
    position: relative;
    height: 250px;
    width: 100%;
}
.pic06{
    position: absolute;
    left: 300px;
    border: 2px solid black;
    height: 230px;
    width: 350px;
}
.txt2{
    position: absolute;
    right: 300px;
    height: 230px;
    width: 360px;
}
.meat{
    width: 90%;
    height: 90%;
    padding-left: 20px;
    padding-top: 8px;
}
footer{
    background-color: black;
    width: 100%;
    height: 900px;
    clip-path: polygon(0 6%,88% 6%,93% 0, 100% 0%, 100% 100%, 0 100% );
}
.inner{
    width: 100%;
    height: 260px;
    position: relative;
}
.wedding{
    position: absolute;
    left: 320px;
    top: 130px;
    color: white;
    height: 30px;
    width: 300px; 
}
.circle1{
    position: absolute;
    top: 145px;
    left: 610px;
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 5px;
    border-radius: 100%;
}
.conventions{
    position: absolute;
    left: 320px;
    top: 190px;
    color: white;
    height: 30px;
    width: 300px;
}
.circle2{
        position: absolute;
        top: 210px;
        left: 610px;
        background-color: rgb(255, 255, 255);
        height: 5px;
        width: 5px;
        border-radius: 100%;
}
.sporting{
    position: absolute;
    right: 320px;
    top: 130px;
    color: white;
    height: 30px;
    width: 300px;
}
.circle3{
    position: absolute;
    right: 330px;
    top: 145px;
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 5px;
    border-radius: 100%;
}
.movies{
    position: absolute;
    right: 320px;
    top: 190px;
    color: white;
    height: 30px;
    width: 300px;
}
.circle4{
    position: absolute;
    right: 330px;
    top: 210px;
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 5px;
    border-radius: 100%;
}
.stroke3{
    position: absolute;
    top: 165px;
    left: 320px;
    background-color: rgb(255, 255, 255);
    width: 305px;
    height: 3px;
}
.stroke4{
    position: absolute;
    top: 230px;
    left: 320px;
    background-color: rgb(255, 255, 255);
    width: 305px;
    height: 3px;
}
.stroke5{
    position: absolute;
    top: 165px;
    right: 320px;
    background-color: rgb(255, 255, 255);
    width: 305px;
    height: 3px;
}
.stroke6{
    position: absolute;
    top: 230px;
    right: 320px;
    background-color: rgb(255, 255, 255);
    width: 305px;
    height: 3px;
}
.pic08{
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0px;
    background-size: cover;
}
.apart{
    position: absolute;
    left: 70px;
    top: 80px;
}
.add{
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
}
.add2{
    color: white;
    font-size: 10px;
    margin-left: 180px;
}

